
body {
    background-color: white;
}

.splash-page {
    margin-left: 15%;
    margin-right: 15%;
}

/*
 * Beginning of Nav Bar
 */

.nav {
    display: flex;
    justify-content: center;
    /* background-color: aliceblue; */
    gap: 5%;
    height: 50px;
    margin-right: 10%;
    margin-left: 10%;
    
    
}

.nav-logo {
    align-self: center;
    font-family: "American Typewriter", serif;
    font-size: 1.5em;

}

.nav-button {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 1em;
    align-self: center;
    font-weight: bold;
}

.no-decoration {
    text-decoration: none;
    color: inherit;
}

.no-decoration:hover {
    text-decoration: underline;
}

/*
 * End of Nav Bar
 */ 

 /*
  * Beginning of Page Layout
  */

.page-layout {
    display: flex;
    width: 100%;
    /* border: solid black; */
    flex-direction: column;
}


.headline {
    
    /* background-color: lightcyan; */
    width: 100%;
    font-family: "OCR A Std", monospace;
    align-self: center;
    text-align: center;
    font-size: 4em;
    padding-left: 2%;
}

/* 
 * Beginning of Contact Info
 */

 .contact-info {
    text-align: center;
    list-style-type: none;
    align-self: center;
    margin: 0;
    padding: 0;
    width: 20%;
 }

li a {
    display: block;
    width: 100%;
    background-color: black;
    /* border: solid black; */
    text-decoration: none;
    color: whitesmoke;
    font-size: 2em;
}

li a:hover {
    text-decoration: underline;
}
 
/* 
 * Beginning of Assistant Spans
 */


.one-edge-shadow {
	box-shadow: 0 8px 6px -6px black;
    margin-bottom: 20px;
}


