
body {
    background-color: ghostwhite;
}

/*
 * Beginning of Nav Bar
 */

.nav {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    gap: 5%;
    height: 51px;
    
    
}

.nav-logo {
    align-self: center;
    font-family: "American Typewriter", serif;
    font-size: 25px;

}

.nav-button {
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 15px;
    align-self: center;
    font-weight: bold;
}

/*
 * End of Nav Bar
 */ 